<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="service.keppliveservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

    <application
        android:persistent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--消息进程-->
        <service
            android:name=".service.OnLineService"
            android:process=":OnlineService"
            android:enabled="true">
        </service>

        <!--保活进程-->
        <service
            android:name=".service.KeepLiveService"
            android:enabled="true"
            android:process=":KeepLiveService">
        </service>

        <!--闹钟-->
        <receiver
            android:name=".receiver.TickAlarmReceiver" >
        </receiver>

        <!-- 网络连接-锁屏或解锁广播 -->
        <receiver android:name=".receiver.KeepLiveReceivers">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <!--&lt;!&ndash; 开机广播 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".receiver.BootAlarmReceiver"-->
            <!--android:label="@string/app_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.media.AUDIO_BECOMING_NOISY" />-->
                <!--<action android:name="android.intent.action.TEST_GKP" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>